// Navigation Area Start 
nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-4
    .container
        a.navbar-brand(href='#') E Group
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainNav' aria-controls='mainNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #mainNav.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mr-4
                li.nav-item.active
                    a.nav-link(href='#') Home 
                li.nav-item
                    a.nav-link(href='#') About Us
                li.nav-item
                    a.nav-link(href='#') Pages
                li.nav-item
                    a.nav-link(href='#') Features
                li.nav-item
                    a.nav-link(href='#') Portfolio
                li.nav-item
                    a.nav-link(href='#') Blog
                li.nav-item
                    a.nav-link(href='#') Shop 
                li.nav-item
                    a.nav-link(href='#') Contact Us
            ul.navbar-nav.justify-content-end
                li.nav-item
                    a.nav-link-icon.card-area(href='#')
                        i.fas.fa-shopping-cart
                li.nav-item
                    a.nav-link-icon(href='#')
                        i.fas.fa-search
// Navigation Area End 