// Top Area Start 
.top-area
    .container
        .row
            .col-lg-6.d-flex
                .top-area-content.mr-3
                    span.top-area-icon.mr-2
                        i.fas.fa-globe
                    span.top-area-text English
                    span.drop-arrow.ml-1
                        i.fas.fa-sort-down
                .top-area-content.mr-3
                    span.top-area-icon.mr-2
                        i.fas.fa-mobile-alt
                    a.top-area-link(href="tel:+440 875369208") +440 875369208
                .top-area-content
                    span.top-area-icon.mr-2
                        i.fas.fa-paper-plane
                    a.top-area-link(href="mailto:info@sitename.com") info@sitename.com
            .col-lg-6.d-flex.justify-content-end
                .top-area-content.mr-3
                    span.top-area-icon.mr-2
                        i.fas.fa-sign-in-alt
                    a.top-area-link.mr-2(href="#") Sign In
                    a.top-area-link-green(href="#")  Register
                .top-area-content.mr-3
                    span.top-area-icon.mr-2
                        i.fas.fa-heartbeat
                    span.top-area-text Wishlist: 0 items
                    span.drop-arrow.ml-1
                        i.fas.fa-sort-down
                .top-area-content
                    .social-links
                        ul.list-unstyled.d-flex
                            li
                                a.top-area-social-icon(href="#")
                                    i.fab.fa-facebook-square
                            li
                                a.top-area-social-icon(href="#")
                                    i.fab.fa-twitter-square
                            li
                                a.top-area-social-icon(href="#")
                                    i.fab.fa-tumblr-square
                            li
                                a.top-area-social-icon(href="#")
                                    i.fab.fa-linkedin
                            li
                                a.top-area-social-icon(href="#")
                                    i.fab.fa-google-plus-square
                            li
                                a.top-area-social-icon(href="#")
                                    i.fas.fa-rss-square
// Top Area End 