// Main Color Root 
$darkcolor-1: #111111;
$darkcolor-2: #252525;
$darkcolor-3: #363636;
$redcolor: #e5493a;
$greencolor: #8dc63f;
$graycolor-1: #959595;
$graycolor-2: #555555;


// Main Backgroun & Main Color

// Main Font
// Edit Variable Bootstrap
$body-bg: #fafafa;
$body-color: $graycolor-1;
// $font-family-sans-serif: $ropaFont;
$font-weight-base: 400;
$btn-font-weight: 400;